.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 100px;
  height: 100px;
  animation: spinning82341 1.7s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(36, 36, 36);
  width: 100px;
  height: 100px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}


.loading-text {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  span {
    display: inline-block;
    margin: 0 -.05em;
  }
}



.loading04 span {
  animation: loading04 0.7s infinite;
}

.loading04 span:nth-child(2) {
  animation-delay: 0.1s;
}
.loading04 span:nth-child(3) {
  animation-delay: 0.2s;
}
.loading04 span:nth-child(4) {
  animation-delay: 0.3s;
}
.loading04 span:nth-child(5) {
  animation-delay: 0.4s;
}
.loading04 span:nth-child(6) {
  animation-delay: 0.5s;
}
.loading04 span:nth-child(7) {
  animation-delay: 0.6s;
}
.loading04 span:nth-child(8) {
  animation-delay: 0.7s;
}
.loading04 span:nth-child(9) {
  animation-delay: 0.8s;
}
.loading04 span:nth-child(10) {
  animation-delay: 0.9s;
}



@keyframes loading04 {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: translateY(3px);
  }
}
