@import "tailwindcss";
@plugin "daisyui";

/* just testing  - theme configs */
@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  --color-primary: #0a8fdc;
  --color-secondary: #6b7280;
  --color-base-300: #111827;
  --color-base-200: #1c1c28;
  --radius-field: 1rem;
  --size-field: 0.3125rem;
  --radius-box: 2rem;
}

@plugin "daisyui/theme" {
  name: "light";
  default: false;
  --color-primary: #0a8fdc;
  --color-secondary: cyan;
  --color-base-300: #1c1c28;

  /* variable */
  /* --color-primary-content: #000;
  --color-secondary-content: #000;
  --color-accent: #000;
  --color-accent-content: #000;
  --color-neutral: #000;
  --color-neutral-content: #000;
  --color-base-100: #000;
  --color-base-200: #000;
  --color-base-300: #000;
  --color-base-content: #000;
  --color-info: #000;
  --color-info-content: #000;
  --color-success: #000;
  --color-success-content: #000;
  --color-warning: #000;
  --color-warning-content: #000;
  --color-error: #000;
  --color-error-content: #000;
  --radius-selector: #000;
  --radius-field: #000;
  --radius-box: #000;
  --size-selector: #000;
  --size-field: #000;
  --border: #000;
  --depth: #000;
  --noise: #000; */
}

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  --card-gradient-color-f: #0b7fc4;
  --card-gradient-color-e: #ababf100;
  --card-gradient-angle: 136.24deg;
  --card-gradient-alpha-f: -2.25%;
  --card-gradient-alpha-e: 90.8%;

  @apply bg-base-200;
  font-family: "Poppins", sans-serif;
}

.page-title p,
.page-title h1 {
  @apply text-xl md:text-6xl font-bold;
}
.page-title span {
  @apply text-sm md:text-lg;
}

.card-gradient {
  @apply w-full p-[1px] card;
  background: linear-gradient(
    var(--card-gradient-angle),
    var(--card-gradient-color-f) var(--card-gradient-alpha-f),
    var(--card-gradient-color-e) var(--card-gradient-alpha-e)
  );
}
.card-gradient.gradient-bottom-left {
  --card-gradient-angle: 200.74deg;
  --card-gradient-alpha-f: 0%;
  --card-gradient-alpha-e: 100%;
}
.card-gradient.gradient-purple {
  --card-gradient-color-f: #ac41f0;
  --card-gradient-color-e: #ababf100;
}
.card-gradient.gradient-red {
  --card-gradient-color-f: #cb615a;
  --card-gradient-color-e: #ababf100;
}
.card-gradient.gradient-orange {
  --card-gradient-color-f: #e19b31;
  --card-gradient-color-e: #ababf100;
}
.card-gradient.gradient-green {
  --card-gradient-color-f: #11c15b;
  --card-gradient-color-e: #ababf100;
}
.card-gradient.gradient-neutral {
  --card-gradient-color-f: #4a92fe;
  --card-gradient-color-e: #14141400;
}
.card-gradient .card-gradient-body {
  @apply flex-1 w-full h-full bg-base-300 card;
}
